{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="post-preview">
  <div class="post-header">
    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD YYYY"}}</time>
    <div class="post-tags">{{tags separator=""}}</div>
  </div>
  <h2><a href="{{url}}">{{title}}</a></h2>
  <a href="{{url}}">{{#if image}}<img class="post-hero-image" src="{{image}}" alt="{{title}}" />{{/if}}</a>
  <p>{{excerpt words="100"}}... <a class="read-more" href="{{url}}">Continue Reading&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a></p>
</article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
